@page
@model Car_App.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="d-flex justify-content-center">
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Colour)
        </dd>
        <dt class="col-sm-2">
            Engine Size
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.engineSize)cc
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-danger" asp-page="./Index">Back</a>
    </form>
</div>
