@page
@model Car_App.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Cars Database";
}

<h1>Cars</h1>

<div id="create-btn-container">
    <a class="btn btn-primary float-right" asp-page="Create">+</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.makeSort">
                    @Html.DisplayNameFor(model => model.Car[0].Make)
                </a>
                
            </th>
            <th>

                <a asp-page="./Index" asp-route-sortOrder="@Model.modelSort">
                    @Html.DisplayNameFor(model => model.Car[0].Model)
                </a>
                
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.colourSort">
                    @Html.DisplayNameFor(model => model.Car[0].Colour)
                </a>
               
            </th>
            
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.engineSort">
                   Engine Size
                </a>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-contents">
@foreach (var item in Model.Car) {
        <tr class="main-table-row" onclick="">
            <td>
                <a class="car-link" asp-page="./Details" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Make)
                </a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.engineSize) cc
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
